@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  padding: 15px 0;
  display: flex;
}
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header div button {
  font-weight: 600;
  background-color: transparent;
  border-radius: 8px;
  border: 0.2rem solid black;
  padding: 12px 25px;
}
button:hover {
  cursor: pointer;
}
/* Banner Start */
#banner {
  text-align: center;
  background-image: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
}
#banner .banner-content {
  width: 998px;
  margin: 0 auto;
  text-align: center;
}
#banner .banner-content img {
  margin: 0 auto;
  width: 240px;
  height: 240px;
}
#banner .banner-content h2 {
  margin: 24px 0;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 40px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
#banner .banner-content p {
  margin: 10px 0;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
#banner .banner-content button {
  margin: 20px 0;
  background: rgb(13, 19, 33);
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
/* Development */
#Development {
  padding: 80px 100px;
  margin: 0 auto;
}
#Development .content {
  margin: 0 auto;
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
/* Global */
.head {
  width: 852px;
  margin: 0 auto;
}
.head h3 {
  margin: 24px 0;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.head p {
  margin: 24px 0;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
/* Global */

#Development .content .card {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  padding: 48px;
}
#Development .content .card-02 {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

#Development .content .card .card-content {
  width: 100%;
}
#Development .content .card .photo {
  height: 217px;
  width: 100%;
  text-align: right;
}
#Development .content .card .photo02 {
  height: 217px;
  margin-right: 100px;
  text-align: left;
}
#Development .card-content h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 10px 0;
}
#Development.card-content p {
  margin: 10px 0;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
#Development .card-content button {
  background-color: transparent;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* Inspiration */
.v-content {
  text-align: center;
  padding: 0 100px;
}
.v-content iframe {
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 40px;
}

/* Target-card */
#target {
  margin: 110px 0;
  padding: 0 100px;
}
.target-card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.target-card .card-iteam {
  padding: 30px;
  margin: 0 24px;
  border-radius: 16px;
}
.target-card .card-iteam img {
  width: 56px;
  height: 56px;
  margin: 15px 0;
}
.target-card .card-iteam h3 {
  margin: 5px 0;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.target-card .card-iteam p {
  margin: 5px 0 10px 0;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.target-card .card-iteam a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
/* contact */
#contact {
  border-radius: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/handshake.jpg);
  margin: 0 auto;
  width: 1140px;
  height: 314px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact .contact-content {
  padding: 64px;
}
#contact .contact-form {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact .contact-form input[type="text"] {
  margin: 0 16px;
  padding: 19px 20px;
  width: 548px;
  height: 57px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
#contact .contact-form input[type="text"] ::placeholder {
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
#contact .contact-form input[type="submit"] {
  padding: 17px 20px;
  margin: 0 16px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
/* Footer */
footer {
  margin-top: 70px;
  padding: 32px 150px 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div h3 {
  font-size: 20px;
}
footer div .icon {
  width: 36px;
  height: 36px;
  margin-left: 15px;
}
